# All values should start with VITE_
# All values will be visible in browser!

VITE_DISCOURSE_URL=https://link-to-root-of-discourse-forums.com

# HocusPocus collaboration server (optional)
VITE_ENABLE_COLLABORATION=false
VITE_HOCUSPOCUS_URL=ws://localhost:3001